.itech-video {
  position: relative;
  height: 400px;
  overflow: hidden;
}
.overlay-description {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 1rem;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 0.05;
}

.video-title {
  color: white;
  font-size: 33px;
  text-align: center;
  font-weight: 700;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.75);
  padding-left: 25px;
  padding-right: 25px;
  letter-spacing: 0.5px;
  line-height: 2.5;
}
.video-details {
  color: white;
  font-size: 19px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 2.5;
  text-align: center;
  width: 800px;
  font-family: "Exo Light";
}

.fancybox {
  animation-delay: 9s;
  color: #ff0000;
}

.feat-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Adjust as needed */
  gap: 20px; /* Adjust spacing between sections */
  padding: 20px; /* Adjust padding around the container */
}

.feature b {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-size: 1.5em;
}
.feature-desc {
  margin-bottom: 40px;
}

.feature-desc p {
  font-size: 15px;
  color: #666;
  line-height: 1.2rem;
}
.feature h3 {
  font-size: 24px;
  /* margin-bottom: 5px; */
  color: linear-gradient(to right, #2f121c, #23527c);
}
.features-container {
  /* width: 100%;
  padding: 40px 20px;
  background-color: #f4f4f4; Light background for the entire section */
  text-align: center;
}
.video-section {
  flex: 1 1 calc(25% - 20px); /* Adjust the width and spacing between items */
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for better visual separation */
  border-radius: 10px; /* Optional: Add rounded corners */
  overflow: hidden; /* Ensure content does not overflow the border radius */
}

.video-player {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ccc; /* Optional: Add a bottom border to separate the video from the rest of the section */
}

/* Optional: Add styling for other elements within the video section */
.video-section h3 {
  margin: 10px 0;
  font-size: 1.2em;
  color: #333;
}

.video-section p {
  margin: 0 10px 10px;
  font-size: 1em;
  color: #666;
  text-align: center;
}

/* Responsive styles */
@media (max-width: 1200px) {
  .video-title {
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .video-section {
    flex: 1 1 calc(33.33% - 20px); /* Three items per row */
  }
  .video-details {
    font-size: 14px;
    width: 700px;
  }
}

@media (max-width: 992px) {
  .video-title {
    font-size: 25px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .video-section {
    flex: 1 1 calc(50% - 20px); /* Two items per row */
  }

  .video-details {
    font-size: 12px;
    width: 600px;
  }
}

@media (max-width: 768px) {
  .itech-video {
    height: 300px;
  }

  .video-title {
    font-size: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .video-details {
    font-size: 10px;
    width: 400px;
  }
}

@media (max-width: 576px) {
  .itech-video {
    height: 250px;
  }
  .video-section {
    flex: 1 1 100%; /* One item per row */
  }
  .video-title {
    margin-top: 3rem;
    font-size: 18px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .video-details {
    font-size: 9px;
    width: 300px;
    /* visibility: hidden; */
  }
  .fancybox {
    visibility: hidden;
  }
}

/* carousel */
/* .carousel-container {
  position: relative;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-card {
  width: auto;
}
.carousel-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-chunk {
  display: flex;
}
.carousel-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.carousel-image-info {
  padding: 20px;

  flex-direction: column;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.carousel-image-alt {
  margin-bottom: 10px;
  font-size: 16px;
  color: #666;
}
.react-multi-carousel-item {
  margin: 20px;
}
.read-more-button {
  background: linear-gradient(to right, #2f121c, #010412);
  border-color: #23527c;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  width: 235.93px;
  height: 35px;
  cursor: pointer;
  text-align: center;
  margin-top: auto;
}
.read-more-button:hover {
  background: #94130f;
  border-color: #23527c;
}

.carousel-card {
  width: 260.93px;
  height: 325px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
} */

/* highlights */
.high-container {
  margin: 2rem auto;
  display: flex;
  /* align-items: center; */
  flex-wrap: wrap;
  justify-content: center; /* Center content horizontally */
}
.header h3,
h2 {
  text-align: center;
  background: -webkit-linear-gradient(to right, #2f121c, #23527c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header-desc {
  text-align: center;
  font-size: 15px;
  line-height: normal;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0 -15px;
}
.col-lg-2 {
  padding: 8px !important;
  margin-top: -24px;
  flex: 0 0 100%;
  max-width: 100%;
}
/* #highlightContain {
  background-color: #efefef;
  visibility: visible;
  animation-delay: 0.2s;
  animation-name: fadeInRight;
} */
@media (min-width: 768px) {
  .col-lg-2 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .col-lg-2 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
}

@media (min-width: 1200px) {
  .col-lg-2 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

#services {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}

#services .box {
  padding: 10px;
  margin-bottom: 30px;
  width: 18rem;
  height: 15rem;
  background: #fff;
  transition: 0.4s;
  border: 1px solid #dedede;
}

#services .box:hover {
  box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
  transform: translateY(-10px);
}

#services .box .icon {
  display: block;
  width: 100%;
  text-align: center;
  padding: 15px;
}

#services .box .icon i {
  color: #444;
  font-size: 33px;
  transition: 0.5s;
}

#services .box .icon i:before {
  background: #0c2e8a;
  background: linear-gradient(45deg, #e91e63 0%, #405ece 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#services .box h4 {
  font-weight: 500;
  margin-bottom: 24px;
  font-size: 14px;
  text-align: center;
  margin: 12px 0;
  font-style: normal;
  text-shadow: 1px 1px #000000;
  font-family: "Montserrat", sans-serif;
  text-wrap: wrap;
}

#services .box h4 a {
  color: #444;
}

#services .box p {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin: 0;
  text-wrap: balance;
  padding: 15px;
}

@media (max-width: 768px) {
  .high-container {
    flex-direction: column;
    align-items: center; /* Center items within the container */
  }
  .col-lg-2 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* Feature Bar */
/* .feature h3,
h2 {
  text-align: center;
  color: linear-gradient(to right, #2f121c, #23527c);
}

.feature-desc {
  text-align: center;
} */
/* Message Bar*/
.message h3,
h2 {
  text-align: center;
  color: linear-gradient(to right, #2f121c, #23527c);
}
.message-desc {
  padding: 15px 0px;
  font-size: medium;
  font-family: "Arial Narrow", sans-serif;
  text-align: center;
  background: -webkit-linear-gradient(to right, #fd746c, #2c3e50);
  background: linear-gradient(to right, #2f121c, #010412);
  color: white;
}
.message-container {
  text-align: center;
}

.message h3 {
  font-size: 24px;
  margin-bottom: 5px;
  text-align: center;
  color: linear-gradient(to right, #2f121c, #23527c);
}

.message b {
  display: block;
  margin-bottom: 5px;
  color: linear-gradient(to right, #2f121c, #23527c);
  font-size: 1.5rem;
}

.message-desc {
  margin-bottom: 20px;
}

.card-text {
  font-size: 1em;
  color: #ddd;
  line-height: 1.5em;
}

.text {
  display: block;
  margin-top: 20px;
  color: #ddd;
}

@media (max-width: 600px) {
  .message h3 {
    font-size: 1.5em;
  }

  .card-text {
    font-size: 0.9em;
  }

  .text {
    font-size: 0.9em;
  }
}

/* Testimonials */
/* src/TestimonialCard.css */

.testimonials-container {
  padding: 20px;
  text-align: center;
}

.testimonials-container h3 {
  margin-bottom: 10px;
}

.testimonials-container h2 {
  margin-bottom: 20px;
}

.testimonial-card {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 10px 0;
}

.testimonial-content {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px;
  padding: 20px;
  flex: 0 0 250px; /* Adjust the width as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.testimonial-author {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.author-image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.author-name {
  font-weight: bold;
  margin: 0;
}

.author-title {
  font-style: italic;
  margin: 0;
}

.testimonial-text {
  font-style: italic;
  margin-top: 10px;
}

/* Responsive CSS */
@media (max-width: 768px) {
  .testimonial-card {
    flex-wrap: wrap;
    justify-content: center;
  }

  .testimonial-content {
    flex: 0 0 45%; /* Adjust width for smaller screens */
  }
}

@media (max-width: 480px) {
  .testimonial-content {
    flex: 0 0 90%; /* Full width on very small screens */
    margin: 10px 0;
  }
}
/*Associated With*/
/* Make the overall associated container flexible */
.associated-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: -webkit-linear-gradient(to right, #fd746c, #2c3e50);
  background: linear-gradient(to right, #2f121c, #010412);
}

/* Adjust associated section for all screens */
.associated {
  text-align: center;
  padding: 20px;
}

/* Adjust title according to screen size */
.associated h3 {
  font-size: 1.5rem;
  color: white;
}
.associated h2 {
  display: none;
}

/* Adjust image container */
.asso-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

/* Make logo container responsive */
.thumbnail {
  margin: 10px;
  /* width: 25%; */
  text-align: center;
}

/* Adjust image size */
.thumbnail img {
  width: 100%;
  height: auto;
}

/* Adjust title text size */
.thumbnail p {
  font-size: 1rem;
  color: white;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .thumbnail {
    width: 50%;
  }
}

/* Media query for extra small screens */
@media (max-width: 480px) {
  .thumbnail {
    width: 100%;
  }
}
/* Contact */

/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contact h3 {
  text-align: center;
}
.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Styles for contact info */
.contact-info {
  display: block;
  margin: 0;
  padding: 10px;
}

.contact-info * {
  margin-bottom: 0;
}

.contact-info h3 {
  /* font-size: ; */
  margin-bottom: 5px;
}

.contact-info p {
  margin: 10px 0;
  font-size: 15px;
}

.contact-info h2 {
  border-bottom: 1px solid #000;
  width: 50px;
  margin-bottom: 20px;
}

/* Styles for map container */
/* .map-container {
  flex: 1;
  min-width: 300px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}*/

.map-container img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
}
.invite-msg {
  line-height: 35px;
}

.invite-msg::before {
  content: " Dealers from all States in India. Contact with Company details on ";
  animation: changeContent 5s infinite;
  color: red;
  white-space: pre-line;
}

@keyframes changeContent {
  50% {
    content: " Distributors for Individual Middle-East Countries. Contact with Company details on ";
  }
}

.invite,
.invite-id {
  color: red;
}
#invite {
  width: 99% !important;
  background-color: #000;
  padding: 0 1.25rem;
  text-align: center;
  color: #ccc;
}
