.carousel-content {
  display: flex;
  justify-content: center;
  align-items: stretch; /* Ensures items stretch to full height */
  flex-wrap: wrap; /* Allows items to wrap to the next line */
}

.carousel-card {
  margin: 10px;
  flex: 1 1 250px; /* Adjusted flex property for better responsiveness */
  max-width: 300px; /* Added max-width to prevent cards from growing too wide */
}

.carousel-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.carousel-image-info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensures content is evenly spaced */
  align-items: center;
  text-align: center;
  height: 100%; /* Ensure content takes full height of the card */
}

.carousel-image-name {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

.carousel-image-alt {
  margin-bottom: 10px;
  font-size: 16px;
  color: #666;
}

.read-more-button {
  background: linear-gradient(to right, #2f121c, #010412);
  border-color: #23527c;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: auto; /* Moves button to the bottom of the card */
  align-self: center; /* Centers button horizontally */
}

.read-more-button:hover {
  background: #94130f;
  border-color: #23527c;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  padding: 10px;
  cursor: pointer;
  color: white;
  z-index: 1;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

