body {
  background: #efefef;
}
.desktermain-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  font-family: Arial, sans-serif;
}

.deskterprod-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  /* background-color: #ffffff; */
  border: none;
  padding: 0;
  border-radius: 0;
  box-shadow: none;
}

.deskterimage-container {
  flex: 1;
  text-align: center;
}
.deskterimage {
  max-width: 100%;
  height: auto;
}
.deskterdetails-container {
  flex: 2;
  padding: 20px;
}

.deskterproduct-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.deskterproduct-subtitle {
  font-size: 18px;
  color: #555;
  margin-bottom: 10px;
}
.deskterproduct-description {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.nav-tabs {
  margin-bottom: 20px;
  width: 100%; /* Full width for nav-tabs */
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #495057;
  /* background-color: #fff; */
  border: none; /* Removed border */
}
.nav-tabs .nav-link {
  border: none; /* Removed border */
  padding: 10px 15px;
  margin-right: 5px;
  color: #007bff;
  cursor: pointer;
  width: 50%; /* Each tab takes half the width */
  text-align: center; /* Center the text */
}
.nav-tabs .nav-link:hover {
  border: none; /* Removed border */
}

.tab-content {
  padding: 20px;
  /* background-color: #fff; */
}

.tab-pane {
  display: none; /* Hide all tabs by default */
}

.tab-pane.show {
  display: block; /* Show active tab */
}

.deskteroptions-center {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  background-color: #efefef;
}

@media (min-width: 769px) {
  .deskterprod-container {
    flex-direction: row;
  }

  .deskterimage-container {
    max-width: 350px;
    margin-right: 20px;
  }

  .deskterdetails-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .deskterprod-container {
    padding: 10px;
  }

  .deskterimage {
    width: 100%;
    height: auto;
  }

  .deskterdetails-container {
    padding: 10px;
  }

  .nav-tabs .nav-link {
    padding: 5px 10px;
  }

  .tab-content {
    padding: 10px;
  }

  .deskteroptions-center {
    padding: 10px;
  }
}
