/* Hardware.css */
body {
  background: #efefef;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  font-family: Arial, sans-serif;
}

.prod-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  /* background-color: #ffffff;  */
  border: none; /* Removed border */
  padding: 0; /* Removed padding */
  border-radius: 0; /* Removed border radius */
  box-shadow: none; /* Removed box-shadow */
}

.prodimage-container {
  flex: 1;
  text-align: center;
}

.prodimage {
  max-width: 100%;
  height: auto;
}

.proddetails-container {
  flex: 2;
  padding: 20px;
}

.prodproduct-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.prodproduct-subtitle {
  font-size: 18px;
  color: #555;
  margin-bottom: 10px;
}

.prodproduct-description {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.nav-tabs {
  margin-bottom: 20px;
  width: 100%; /* Full width for nav-tabs */
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #495057;

  border: none; /* Removed border */
}

.nav-tabs .nav-link {
  border: none; /* Removed border */
  padding: 10px 15px;
  margin-right: 5px;
  color: #007bff;
  cursor: pointer;
  width: 50%; /* Each tab takes half the width */
  text-align: center; /* Center the text */
}

.nav-tabs .nav-link:hover {
  border: none; /* Removed border */
}

.tab-content {
  padding: 20px;
}

.tab-pane {
  display: none; /* Hide all tabs by default */
}

.tab-pane.show {
  display: block; /* Show active tab */
}

.options-center {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
}

@media (min-width: 769px) {
  .prod-container {
    flex-direction: row;
  }

  .prodimage-container {
    max-width: 350px;
    margin-right: 20px;
  }

  .proddetails-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .prod-container {
    padding: 10px;
  }

  .prodimage {
    width: 100%;
    height: auto;
  }

  .proddetails-container {
    padding: 10px;
  }

  .nav-tabs .nav-link {
    padding: 5px 10px;
  }

  .tab-content {
    padding: 10px;
  }

  .options-center {
    padding: 10px;
  }
}
