/* ==================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.Navigation-bar {
  top: 0;
  width: 100%;
  z-index: 999;
}

#top-bar {
  background: linear-gradient(to right, #2f121c, #010412);
  padding: 8px 0;
  font-size: 12px;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container i {
  color: #fff;
}

a {
  color: white;
}

.contact-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  margin: 0 10px;
}

.brand-nav .software-nav {
  color: white;
  text-decoration: none;
}

.Navigation-bar2 {
  width: 100%;
  z-index: 999;
}

#main-bar {
  background: linear-gradient(#2f121c, #010412);
  font-size: 12px;
}

.main-navbar {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  color: #fff;
  padding: 10px;
  float: right;
  position: relative;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.nav-item {
  margin-right: 10px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

.nav-link:hover {
  color: #ccc;
}

.dropdown {
  position: relative;
}

.dropdown-toggle {
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  align-items: center;
  top: 100%;
  left: 0;
  color: #fff;
  padding: 10px;
  background: linear-gradient(#2f121c, #010412);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.dropdown-item:hover {
  background-color: #ccc;
}

.dropdown-menu li {
  list-style-type: none;
}

/* Responsive styles */
@media (max-width: 1024px) {
  .navbar-nav {
    display: none;
    flex-direction: column;
  }

  .navbar-nav.open {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}

@media (min-width: 1025px) {
  .hamburger {
    display: none;
  }
}
