/* Reset some default styles */
body,
ul,
li {
  margin: 0;
  padding: 0;
  /* line-height: 1.6; */
  /* color: #000000; */
}
/* Top bar */
.header-topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c0026;
  color: #acacac;
  padding: 8px 20px;
  font-size: 15px;
  flex-wrap: wrap;
}
.header-contact-icon,
.icon,
.login,
.email,
.phone {
  color: #ff0000;
  margin: 0px 10px;
}

.facebook,
.twitter,
.instagram,
.linkedin,
.youtube {
  border-left: 1px solid #e9e9e924;
}

.header-contact-info > *:not(:last-child),
.social-icons > *:not(:last-child) {
  margin-right: 15px;
}
/* ********** */
/* main Navbar  */
.header-main-navbar {
  display: flex;
  align-items: center;
  background-color: rgb(0, 0, 0);
  padding: 10px 20px;
  flex-wrap: wrap;
}
.nav__logo {
  height: 76px;
  width: 210px;
}
.close-icon {
  display: none; /* Default hidden, will be shown on mobile */
}
.site-navigation.open {
  display: block; /* Show navigation when toggled */
}

.site-navigation {
  display: none; /* Default hidden, will be shown on toggle */
}
@media (max-width: 900px) {
  .header-topbar {
    flex-direction: column;
    align-content: center;
  }
  .header-iso-certification {
    margin: 3px 0px;
  }
  .nav__logo {
    height: 50px;
    width: 150px;
  }
  .close-icon {
    display: block;
  }
}

/* ********** */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:hover {
  color: #23527c;
}

.site-navbar {
  text-align: center;
  background-color: #000;
}

.site-navbar .main-navbar {
  margin: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-navbar .site-logo {
  margin-right: 20px;
}

.site-navbar .hamburger {
  display: none;
}

.site-navbar .site-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-navbar .navMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navbar .navMenu li {
  position: relative;
}

.site-navbar .navMenu li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  font-size: 15px;
}

.site-navbar .navMenu li a:hover {
  /* background-color: #f0f0f0; */
  color: #23527c;
}

.site-navbar .navMenu li ul {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  list-style: none;
  margin: 2px;
  padding: 0;
  background-color: #2c0026;
  border: 1px solid #ddd;
  border-top: none;
  z-index: 1000;
}

.site-navbar .navMenu li:hover > ul {
  display: block;
}

.site-navbar .navMenu li ul li {
  width: 100%;
}

.site-navbar .navMenu li ul li a {
  padding: 10px 20px;
  color: #ffffff;
}

.site-navbar .navMenu li ul li a:hover {
  /* background-color: #2c0026; */
  color: #23527c;
}

.site-navbar .navMenu li ul li ul {
  position: absolute;
  top: 0;
  left: 100%;
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #2c0026;
  border: 1px solid #ddd;
  border-left: none;
}

.site-navbar .navMenu li ul li:hover > ul {
  display: block;
}

.site-navbar .navMenu li ul li ul li {
  width: 100%;
}

.site-navbar .navMenu li ul li ul li a {
  padding: 10px 2rem;
  color: #ffffff;
}

.site-navbar .navMenu li ul li ul li a:hover {
  background-color: #a4a2a2;
  color: #23527c;
}
.site-navbar .navMenu li.has-children > ul {
  display: none;
}

.site-navbar .navMenu li.has-children:hover > ul {
  display: block;
}

@media only screen and (max-width: 768px) {
  .site-navbar .hamburger {
    display: block;
    cursor: pointer;
  }

  .site-navbar .site-navigation {
    display: none;
  }

  .site-navbar .navMenu {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: black;
    border: 1px solid #ddd;
    border-top: none;
  }

  .site-navbar .navMenu li {
    width: 100%;
  }

  .site-navbar .navMenu li a {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
  }

  .site-navbar .navMenu li ul {
    position: relative;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
  }

  .site-navbar .navMenu li:hover > ul,
  .site-navbar .navMenu li.open > ul {
    display: block;
  }

  .site-navbar .navMenu li ul li {
    width: 100%;
  }

  .site-navbar .navMenu li ul li a {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
  }

  .site-navbar .navMenu li ul li ul {
    position: relative;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
  }

  .site-navbar .navMenu li ul li:hover > ul,
  .site-navbar .navMenu li ul li.open > ul {
    display: block;
  }

  .site-navbar .navMenu li ul li ul li {
    width: 100%;
  }

  .site-navbar .navMenu li ul li ul li a {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
  }
}

/* Top bar styles */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c0026;
  color: white;
  padding: 5px 20px;
  font-size: 14px;
  flex-wrap: wrap;
}

.iso-certification,
.contact-info {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.icon {
  color: #ff0000;
}

.contact-icon {
  color: #ff0000;
  margin: 0px 20px;
}

.social-icons {
  display: flex;
  align-items: center;
  margin: 5px 0px;
}

.contact-info > *:not(:last-child),
.social-icons > *:not(:last-child) {
  margin-right: 15px;
}

/* Responsive styles */
@media (max-width: 900px) {
  .top-bar {
    flex-direction: column;
    align-items: flex-start;
  }

  .iso-certification,
  .contact-info {
    margin: 5px 0;
  }

  .main-navbar {
    justify-content: space-between;
  }

  .hamburger {
    display: block;
  }

  .site-navigation {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #000;
    z-index: 1000;
    width: 250px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .site-navigation.open {
    transform: translateX(0);
  }

  .navMenu {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 60px;
  }

  .navMenu.open {
    display: flex;
  }

  .nav__item {
    width: 100%;
    text-align: left;
    padding: 10px 20px;
  }

  .navLink {
    display: block;
  }

  .dropdown {
    position: static;
    display: none;
    flex-direction: column;
  }

  .has-children:hover .dropdown,
  .has-children:focus-within .dropdown {
    display: flex;
  }
}

@media (min-width: 901px) {
  .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #2c0026;
    display: none;
    color: rgb(255, 255, 255);
    border: 1px solid #ccc;
  }

  .has-children:hover .dropdown,
  .has-children:focus-within .dropdown {
    display: block;
  }

  .has-children > ul {
    display: none;
  }

  .has-children:hover > ul,
  .has-children:focus-within > ul {
    display: block;
  }

  .dropdown .has-children > ul {
    display: none;
  }

  .dropdown .has-children:hover > ul,
  .dropdown .has-children:focus-within > ul {
    display: block;
  }
}
