.image-magnifier-container {
  position: relative;
  display: inline-block;
}

.image-magnifier-image {
  width: 400px;
  height: 300px;
}

.image-magnifier-magnifier {
  position: absolute;
  border: 3px solid #000;
  cursor: none;
  pointer-events: none;
  width: 350px;
  height: 200px;
  opacity: 0; /* Hide the magnifier initially */
  visibility: hidden; /* Hide the magnifier initially */
  transition: opacity 0.3s ease, visibility 0.3s ease; /* Smooth transition */
}

.image-magnifier-container:hover .image-magnifier-magnifier {
  opacity: 1; /* Show the magnifier on hover */
  visibility: visible; /* Show the magnifier on hover */
}
